name: Tests

# Runs unit and acceptance tests for pull requests and pushes to main.

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit:
    # Runs `go vet` and unit tests.
    strategy:
      matrix:
        go-version: [1.19.x, 1.20.x]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
      - uses: pre-commit/action@v3.0.0
      - uses: pre-commit-ci/lite-action@v1.0.1
        if: always()
      - uses: golangci/golangci-lint-action@v3

      - name: Run terrafmt
        run: make terrafmt-check

      - name: make test
        run: make test
